{
  "zigzagChainId": 42161,
  "zigzagHttps": "https://api.arbitrum.zigzag.exchange",
  "pairs": {
    "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1-0xFF970A61A04b1cA14834A43f5dE4533eBDDB5CC8": {
      "nickname": "WETH-USDC",
      "priceFeedPrimary": "cryptowatch:4",
      "priceFeedSecondary": "cryptowatch:588",
      "slippageRate": 1e-5,
      "maxSize": 100,
      "minSize": 0.0003,
      "minSpread": 0.0005,
      "active": true
    }
  }
}
