{
  "zigzagChainId": 42161,
  "zigzagHttps": "https://api.arbitrum.zigzag.exchange",
  "vault": {
    "address": "0xF4037F59C92c9893C43c2372286699430310CFe7",
    "depositFee": 0,
    "withdrawFee": 0.02,
    "initialPrice": 1,
    "depositTokens": {
      "0xFF970A61A04b1cA14834A43f5dE4533eBDDB5CC8": {
        "priceFeedPrimary": "cryptowatch:61633",
        "priceFeedSecondary": null,
        "active": true
      },
      "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1": {
        "priceFeedPrimary": "cryptowatch:4",
        "priceFeedSecondary": null,
        "active": true
      },
      "0x2f2a2543B76A4166549F7aaB2e75Bef0aefC5B0f": {
        "priceFeedPrimary": "cryptowatch:92864",
        "priceFeedSecondary": null,
        "active": true
      }
    }
  },
  "pairs": {
    "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1-0xFF970A61A04b1cA14834A43f5dE4533eBDDB5CC8": {
      "priceFeedPrimary": "cryptowatch:4",
      "priceFeedSecondary": "cryptowatch:588",
      "slippageRate": 1e-5,
      "maxSize": 100,
      "minSize": 0.0003,
      "minSpread": 0.01,
      "active": true
    }
  }
}
